body {
  margin: 0;
  font-family: courier;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}

.fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #151515;
  z-index: -11;
  top: 0;
  left: 0;
}

.fundo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  color: #ffffff;
  position: relative;
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  margin-top: 5vh;
}

.title {
  font-weight: bold;
  font-size: 200px;
  color: #ffffff;
}

.alta {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration-line: underline;
  width: 500px;
  cursor: pointer;
}

.baixa {
  position: absolute;
  bottom: 2vh;
  right: 0;
  text-decoration-line: underline;
  cursor: pointer;
}

.edition {
  position: absolute;
  top: 62px;
  right: 0;
  width: 10rem;
  text-align: right;
}

.author {
  position: absolute;
  bottom: 37px;
  left: 0;
}

.mapa {
  width: 500px !important;
  height: 600px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerdesc {
  margin-top: 44px;
  height: 700px;
  background: #e0e261;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 32px;
  width: 80%;
  text-align: -webkit-center;
  display: block;
  text-transform: uppercase;
}

.buttonbackground {
  height: 100vh;
  background: #151515;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
.buttoncontainer {
  background: #151515;
  display: flex;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}

.button {
  width: 150px;
  height: 50px;
  background: #e0e261;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 100px;
  transition: transform 0.3s ease-in-out;
}

.button-white {
  background: white;
}

.button:hover {
  transform: rotate(180deg);
}

.buttontext {
  text-align: center;
  height: 55%;
  color: white;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 75%;
  align-self: center;
}

.buttontitle {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
}

.buttondesc {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 50px;
}

.buttonclicked {
  height: 125vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollingtext {
  position: absolute;
  white-space: nowrap;
  animation: scroll-text 10s linear infinite;
  padding-top: 50px;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.buttonclicked img {
  padding-top: 150px;
  width: 90%;
}

.fontchangingtext {
  font-size: 30px;
  width: 50%;
  display: inline-block;
  padding-top: 50px;
  height: 250px;
}

.textcontainer {
  width: 90%;
  height: 500px;
  text-align: left;
}

.underfontchangingtext {
  display: block;
  padding-top: 50px;
  font-size: 24px;
  width: 50%;
}

.newbutton {
  text-align: right;
  width: 90%;
  font-size: 28px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

.newbutton:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 685px;
}

.newbutton:hover:after {
  opacity: 1; /* Make the rectangle visible on hover */
}

.newbuttonclicked {
  text-align: -webkit-center;
  display: none;
}

.newbuttonclicked .desc {
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
}

.normaltextcontainer {
  width: 80%;
  display: flex;
  column-gap: 50px;
  margin-top: 100px;
}

.text {
  text-align: justify;
  font-size: 24px;
  text-transform: uppercase;
}

.underlined {
  text-decoration-line: underline;
  font-size: 32px;
}

.desccontainer {
  width: 100%;
  background: #151515;
  color: white;
  height: 450px;
  transition: 0.3s ease-in-out;
}

.movingtext {
  width: 80%;
  margin-top: 150px;
}

.movingtext span {
  display: block;
}

.movingtext span.left {
  text-align: left;
}
.movingtext span.right {
  text-align: right;
}
.movingtext span.center {
  text-align: center;
}
.movingtext span.center-left {
  text-align: center;
  left: 25%;
  transform: translateX(-25%);
}
.movingtext span.center-right {
  text-align: center;
  right: 25%;
  transform: translateX(25%);
}

.left {
  animation: moveRight 5s ease-in-out forwards infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(85%);
    text-align: left;
  }
  40% {
    transform: translateX(0);
    text-align: right;
  }
  59% {
    transform: translateX(0);
    text-align: right;
  }
  60% {
    transform: translateX(85%);
    text-align: left;
  }
  90% {
    transform: translateX(0);
  }
}

.center {
  animation: moveCenterRight 5s ease-in-out forwards infinite;
}

@keyframes moveCenterRight {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(40%);
    text-align: center;
  }
  40% {
    transform: translateX(0);
    text-align: right;
  }
  59% {
    transform: translateX(0);
    text-align: right;
  }
  60% {
    transform: translateX(40%);
    text-align: center;
  }
  90% {
    transform: translateX(0);
  }
}

.center-left {
  animation: moveCenterLeftRight 5s ease-in-out forwards infinite;
}

@keyframes moveCenterLeftRight {
  0% {
    transform: translateX(-25%);
  }
  39% {
    transform: translateX(40%);
    text-align: center;
  }
  40% {
    transform: translateX(0%);
    text-align: right;
  }
  59% {
    transform: translateX(0%);
    text-align: right;
  }
  60% {
    transform: translateX(40%);
    text-align: center;
  }
  90% {
    transform: translateX(-25%);
  }
}

.center-right {
  animation: moveCenterRightLeft 5s ease-in-out forwards infinite;
}

@keyframes moveCenterRightLeft {
  0% {
    transform: translateX(25%);
  }
  39% {
    transform: translateX(-40%);
    text-align: center;
  }
  40% {
    transform: translateX(0%);
    text-align: left;
  }
  59% {
    transform: translateX(0%);
    text-align: left;
  }
  60% {
    transform: translateX(-40%);
    text-align: center;
  }
  90% {
    transform: translateX(25%);
  }
}

.right {
  animation: moveLeft 5s ease-in-out forwards infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(-85%);
    text-align: right;
  }
  40% {
    transform: translateX(0);
    text-align: left;
  }
  59% {
    transform: translateX(0);
    text-align: left;
  }
  60% {
    transform: translateX(-85%);
    text-align: right;
  }
  90% {
    transform: translateX(0);
  }
}

.movingbg {
  position: absolute;
  font-size: 100px;
  text-transform: uppercase;
  width: 650px;
  color: #e0e261;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 100px;
  opacity: 0; /* initial state */
  animation: fadeIn 5s ease-in-out infinite; /* animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* start at 0 */
  }
  50% {
    opacity: 1; /* end at 1 */
  }
  100% {
    opacity: 0; /* end at 1 */
  }
}

.textimg {
  display: flex;
  width: 80%;
  column-gap: 15%;
  align-items: center;
  padding-top: 200px;
}

.textimgimg {
  width: 400px;
  height: 400px;
  background: #d9d9d9;
}

.textimgtext {
  width: 50%;
  text-align: left;
  font-size: 24px;
}

.fontchangingtext2 {
  font-size: 30px;
  width: 80%;
  text-align: right;
  display: inline-block;
  padding-top: 50px;
}

.thirteen {
  display: block;
  width: 80%;
  padding-top: 150px;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.newbuttoncontainer {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.articlecontainer {
  margin-top: 100px;
  background-color: #151515;
  color: white;
  height: 100vh;
  position: relative;
}

.articletitle {
  display: flex;
  width: 80%;
  align-items: center;
  padding-top: 50px;
}

.articleskip {
  margin-left: auto;
}

.articleskip img {
  width: 100%;
  height: 100%;
  padding-top: 0px;
}

.yellow {
  color: #e0e261;
  font-weight: bold;
}

.articletitletext {
  font-size: 38px;
}

.first {
  width: 60%;
  text-align: justify;
}
.second {
  width: 60%;
  text-align: justify;
}

.articlebody {
  margin-top: 100px;
  font-size: 22px;
}
.articlebody img {
  width: 60%;
  height: 35vh;
  object-fit: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.animationtext {
  opacity: 0;
  transform: translateY(-100%);
  animation: appear 1s forwards;
  animation-iteration-count: infinite;
}

@keyframes appear {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animation {
  position: absolute;
  bottom: 200px;
  width: 100px;
  font-size: 40px;
  text-decoration-line: underline;
  right: 300px;
}

.animationtext2 {
  opacity: 0;
  transform: translate(0%, -100%);
  animation: appear 0.5s forwards;
  animation-iteration-count: infinite;
  visibility: hidden;
  position: relative;
}

@keyframes appear {
  from {
    opacity: 1;
    transform: translate(0%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.animation2 {
  position: absolute;
  bottom: 200px;
  width: 800px;
  font-size: 40px;
  text-decoration-line: underline;
  left: 150px;
}

.floatingtext {
  position: absolute;
  bottom: 175px;
  width: 100px;
  font-size: 14px;
  left: 150px;
}
