body {
  margin: 0;
  font-family: courier;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.hidden {
  display: none !important;
}

.fundo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #151515;
  z-index: -11;
  top: 0;
  left: 0;
}

.fundo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  color: #ffffff;
  position: relative;
  width: 80vw;
  height: 90vh;
  margin-left: 10vw;
  margin-top: 5vh;
}

.title {
  font-weight: bold;
  font-size: 200px;
  color: #ffffff;
}

.alta {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration-line: underline;
  width: 500px;
  cursor: pointer;
}

.baixa {
  position: absolute;
  bottom: 2vh;
  right: 0;
  text-decoration-line: underline;
  cursor: pointer;
}

.edition {
  position: absolute;
  top: 62px;
  right: 0;
  width: 10rem;
  text-align: right;
}

.author {
  position: absolute;
  bottom: 37px;
  left: 0;
}

.mapa {
  width: 500px !important;
  height: 600px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerdesc {
  margin-top: 44px;
  height: 700px;
  background: #e0e261;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 32px;
  width: 80%;
  text-align: -webkit-center;
  display: block;
  text-transform: uppercase;
}

.buttonbackground {
  height: 100vh;
  background: #151515;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}
.buttoncontainer {
  background: #151515;
  display: flex;
  justify-content: space-between;
  height: 200px;
  align-items: center;
}

.button {
  width: 150px;
  height: 50px;
  background: #e0e261;
  cursor: pointer;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 100px;
  transition: transform 0.3s ease-in-out;
}

.button-white {
  background: white;
}

.button:hover {
  transform: rotate(180deg);
}

.buttontext {
  text-align: center;
  height: 55%;
  color: white;
  opacity: 0;
  transition: 0.3s ease-in-out;
  width: 75%;
  align-self: center;
}

.buttontitle {
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
}

.buttondesc {
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 50px;
}

.buttonclicked {
  height: 125vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollingtext {
  position: absolute;
  white-space: nowrap;
  animation: scroll-text 10s linear infinite;
  padding-top: 50px;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.buttonclicked img {
  padding-top: 150px;
  width: 90%;
}

.fontchangingtext {
  font-size: 30px;
  width: 50%;
  display: inline-block;
  padding-top: 50px;
  height: 250px;
}

.textcontainer {
  width: 90%;
  height: 500px;
  text-align: left;
}

.underfontchangingtext {
  display: block;
  padding-top: 50px;
  font-size: 24px;
  width: 50%;
}

.newbutton {
  text-align: right;
  width: 90%;
  font-size: 28px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  cursor: pointer;
}

.newbutton:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  width: 685px;
}

.newbutton:hover:after {
  opacity: 1; /* Make the rectangle visible on hover */
}

.newbuttonclicked {
  text-align: -webkit-center;
  display: none;
}

.newbuttonclicked .desc {
  font-weight: bold;
  font-style: oblique;
  font-size: 50px;
}

.normaltextcontainer {
  width: 80%;
  display: flex;
  column-gap: 50px;
  margin-top: 100px;
}

.text {
  text-align: justify;
  font-size: 24px;
  text-transform: uppercase;
}

.underlined {
  text-decoration-line: underline;
  font-size: 32px;
}

.desccontainer {
  width: 100%;
  background: #151515;
  color: white;
  height: 450px;
  transition: 0.3s ease-in-out;
}

.movingtext {
  width: 80%;
  margin-top: 150px;
}

.movingtext span {
  display: block;
}

.movingtext span.left {
  text-align: left;
}
.movingtext span.right {
  text-align: right;
}
.movingtext span.center {
  text-align: center;
}
.movingtext span.center-left {
  text-align: center;
  left: 25%;
  transform: translateX(-25%);
}
.movingtext span.center-right {
  text-align: center;
  right: 25%;
  transform: translateX(25%);
}

.left {
  animation: moveRight 5s ease-in-out forwards infinite;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(85%);
    text-align: left;
  }
  40% {
    transform: translateX(85%);
    text-align: left;
  }
  59% {
    transform: translateX(85%);
    text-align: left;
  }
  60% {
    transform: translateX(85%);
    text-align: left;
  }
  90% {
    transform: translateX(0);
  }
}

.center {
  animation: moveCenterRight 5s ease-in-out forwards infinite;
}

@keyframes moveCenterRight {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(40%);
  }
  40% {
    transform: translateX(40%);
  }
  59% {
    transform: translateX(40%);
  }
  60% {
    transform: translateX(40%);
  }
  90% {
    transform: translateX(0);
  }
}

.center-left {
  animation: moveCenterLeftRight 5s ease-in-out forwards infinite;
}

@keyframes moveCenterLeftRight {
  0% {
    transform: translateX(-25%);
  }
  39% {
    transform: translateX(40%);
  }
  40% {
    transform: translateX(40%);
  }
  59% {
    transform: translateX(40%);
  }
  60% {
    transform: translateX(40%);
  }
  90% {
    transform: translateX(-25%);
  }
}

.center-right {
  animation: moveCenterRightLeft 5s ease-in-out forwards infinite;
}

@keyframes moveCenterRightLeft {
  0% {
    transform: translateX(25%);
  }
  39% {
    transform: translateX(-40%);
  }
  40% {
    transform: translateX(-40%);
  }
  59% {
    transform: translateX(-40%);
  }
  60% {
    transform: translateX(-40%);
  }
  90% {
    transform: translateX(25%);
  }
}

.right {
  animation: moveLeft 5s ease-in-out forwards infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  39% {
    transform: translateX(-85%);
  }
  40% {
    transform: translateX(-85%);
  }
  59% {
    transform: translateX(-85%);
  }
  60% {
    transform: translateX(-85%);
  }
  90% {
    transform: translateX(0);
  }
}

.movingbg {
  position: absolute;
  font-size: 100px;
  text-transform: uppercase;
  width: 650px;
  color: #e0e261;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 100px;
  opacity: 0; /* initial state */
  animation: fadeIn 5s ease-in-out infinite; /* animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* start at 0 */
  }
  50% {
    opacity: 1; /* end at 1 */
  }
  100% {
    opacity: 0; /* end at 1 */
  }
}

.textimg {
  display: flex;
  width: 80%;
  column-gap: 15%;
  align-items: center;
  padding-top: 200px;
}

.textimgimg {
  width: 400px;
  height: 400px;
  background: #d9d9d9;
}
.textimgimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-top: 0;
}

.textimgtext {
  width: 50%;
  text-align: left;
  font-size: 24px;
}

.fontchangingtext2 {
  font-size: 30px;
  width: 80%;
  text-align: right;
  display: inline-block;
  padding-top: 50px;
}

.thirteen {
  display: block;
  width: 80%;
  padding-top: 150px;
  padding-bottom: 100px;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.newbuttoncontainer {
  width: 100%;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.articlecontainer1 {
  background-color: #151515;
  color: white;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.articlecontainer2 {
  background-color: #151515;
  color: white;
  height: 100vh;
  position: relative;
  width: 100vw;
}

.articletitle {
  display: flex;
  width: 80%;
  align-items: center;
  padding-top: 50px;
}

.articleskip {
  margin-left: auto;
}

.articleskip img {
  width: 100%;
  height: 100%;
  padding-top: 0px;
}

.yellow {
  color: #e0e261;
  font-weight: bold;
}

.articletitletext {
  font-size: 38px;
}

.first {
  width: 60%;
  text-align: justify;
}
.second {
  width: 60%;
  text-align: justify;
}

.articlebody {
  margin-top: 100px;
  font-size: 22px;
}
.image1 {
  width: 60% !important;
  height: 30vh;
  object-fit: cover;
  padding-top: 50px !important;
  padding-bottom: 50px;
}

.animationtext {
  opacity: 0;
  transform: translateY(-100%);
  animation: appear 1s forwards;
  animation-iteration-count: infinite;
}

@keyframes appear {
  from {
    opacity: 1;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.animation {
  position: absolute;
  bottom: 200px;
  width: 100px;
  font-size: 40px;
  text-decoration-line: underline;
  right: 300px;
}

.animationtext2 {
  opacity: 0;
  transform: translate(0%, -100%);
  animation: appear 0.5s forwards;
  animation-iteration-count: infinite;
  visibility: hidden;
  position: relative;
}

@keyframes appear {
  from {
    opacity: 1;
    transform: translate(0%, -100%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

.animation2 {
  position: absolute;
  bottom: 200px;
  width: 800px;
  font-size: 40px;
  text-decoration-line: underline;
  left: 150px;
}

.floatingtext {
  position: absolute;
  bottom: 175px;
  width: 100px;
  font-size: 14px;
  left: 150px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 1200vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outerwrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
}

.eighty {
  width: 80%;
}

.first2 {
  width: 60%;
  float: left;
  text-align: left;
}

.second2 {
  width: 60%;
  text-align: right;
  float: right;
  margin-top: 300px;
}

.articlebody .movingtext {
  position: absolute;
  font-size: 48px;
  color: #e0e261;
  margin-top: 200px;
}

.hovered {
  font-size: 40px;
}
.space {
  padding-top: 25px;
  padding-bottom: 25px;
}

.articleimg {
  width: 50%;
  display: flex;
  bottom: 0px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.articleimg img {
  padding-top: 0px !important;
  width: 100% !important;
}

.articlebody3 {
  margin-top: 100px;
  font-size: 22px;
  display: flex;
  width: 80%;
}

.secondright {
  width: 750px;
  text-align: right;
}
.secondright img {
  width: 475px !important;
  padding-top: 0px !important;
}

.firstleft {
  width: 45% !important;
  padding-top: 0 !important;
  text-align: left;
}

.firstleft img {
  width: 75% !important;
  padding-top: 50px !important;
}

.articlebody4 {
  margin-top: 100px;
  font-size: 22px;
  width: 80%;
  height: auto;
}

.firstleft2 {
  width: 45% !important;
  padding-top: 0 !important;
  text-align: left;
  float: left;
}

.secondright2 {
  width: 750px;
  text-align: right;
  float: right;
  padding-top: 150px;
}

.center2 {
  padding-top: 100px;
  font-size: 40px;
  width: 60%;
  text-decoration: underline;
}

.articlebody2 {
  padding-top: 100px;
  width: 80%;
  font-size: 24px;
}

.articlebody22 {
  padding-top: 100px;
  width: 80%;
  font-size: 24px;
  position: relative;
}

.left6 {
  width: 50%;
  text-align: left;
  margin-right: auto;
  padding-bottom: 50px;
  transition: 0.3s ease-in-out;
}
.right6 {
  width: 50%;
  text-align: right;
  margin-left: auto;
  padding-bottom: 50px;
}

.left6:first-child {
  opacity: 0.2;
}

.left6:first-child:hover {
  opacity: 1;
}

.left7 {
  width: 50%;
  text-align: left;
  margin-right: auto;
  padding-bottom: 50px;
  transition: 0.3s ease-in-out;
}

.right7 {
  position: absolute;
  top: 100px;
  right: 0;
  margin-top: 50px;
}

.right7 img {
  padding-top: 0px !important;
  width: 70% !important;
}

.italic {
  font-style: italic;
  font-weight: bold;
}

.bop8 {
  display: flex;
  padding-top: 50px;
  column-gap: 5%;
}

.articlebody2 img {
  width: 25%;
  padding-top: 0px;
  object-fit: cover;
}

.right8 {
  width: 70%;
  text-align: right;
}

.right8text {
  padding-top: 50px;
}

.top8 {
  width: 100%;
  text-align: justify;
}

.top88 {
  width: 40%;
  text-align: justify;
  margin-right: auto;
}

.bot8 img {
  width: 60%;
  padding-top: 50px;
  height: 100%;
  object-fit: cover;
}

.scrolling-text {
  position: absolute;
  top: -100%;
  animation: scroll-text 3s linear infinite;
  text-align: center;
  width: 100px;
  opacity: 0.5;
  text-transform: uppercase;
  left: 5%;
}

@keyframes scroll-text {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

.scrolling-text p {
  padding-bottom: 100px;
}

.plus10 {
  left: 20%;
}

.plus20 {
  left: 45%;
}

.plus30 {
  left: 65%;
}

.plus40 {
  left: 85%;
}

.top888 {
  width: 50%;
}
.top888 img {
  padding-top: 50px !important;
  width: 100% !important;
}

.articlebody222 {
  width: 80%;
  font-size: 24px;
}

#random-text {
  position: absolute;
  font-size: 30px;
  text-align: center;
  max-width: 35ch;
  line-height: 50px;
  color: #e0e261;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 135px;
}

.top8888 {
  padding-top: 46px !important;
  width: 80% !important;
  padding-bottom: 50px;
}

.top8888 img {
  padding-top: 50px !important;
  width: 45% !important;
}

.container2-1 {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  column-gap: 50px;
}

.img2-1 {
  width: 200%;
}

.img2-1 img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

.text2-1 {
  width: 100%;
  line-height: 23px;
}

.bold {
  font-weight: bold;
}

.container2-2 {
  display: flex;
  column-gap: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 50px;
}

.left2-2 {
  width: 50%;
}

.left2-2 img {
  width: 100%;
  padding-bottom: 50px;
}

.right2-2 {
  width: 50%;
}

.right2-2 img {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}

.text2-2-1 {
  font-size: 24px;
}

.text2-2-2 {
  font-size: 48px;
}

.edge {
  position: absolute;
  width: 40%;
  bottom: 225px;
  left: 250px;
}

.container2-3 {
  padding-top: 150px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.text2-3-2 {
  font-size: 40px;
}

.container2-4 {
  padding-top: 150px;
  display: flex;
  column-gap: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}

.img2-4 {
  width: 50%;
}

.img2-4 img {
  width: 100%;
}

.text2-4 {
  width: 50%;
}

.container2-5 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 150px;
  font-size: 24px;
  color: white;
  position: relative;
  height: 100vh;
}

.left2-5 {
  width: 60%;
  padding-top: 100px;
}

.right2-5 {
  width: 40%;
  text-align: right;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.left2-5 {
  width: 60%;
}

.container2-5 img {
  position: absolute;
  z-index: -1;
  left: -20%;
  width: 140%;
  height: 100vh;
  object-fit: cover;
}

.container2-6 {
  padding-top: 150px;
  font-size: 64px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.container2-7 {
  margin-top: 150px;
  font-size: 24px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.middlehover {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.hover1 {
  position: absolute;
  left: 50px;
  top: 50px;
}

.hover2 {
  position: absolute;
  left: 50px;
  top: 100px;
}

.hover3 {
  position: absolute;
  left: 50px;
  top: 150px;
}

.hover4 {
  position: absolute;
  left: 50px;
  top: 200px;
}

.container2-8 {
  padding-top: 150px;
  width: 80%;
  margin-left: 10%;
}

.container2-9 {
  background: #151515;
  margin-top: 150px;
}

.container2-9 img {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 80%;
  margin-left: 10%;
}

.container2-10 {
  width: 80%;
  margin-left: 10%;
  padding-top: 150px;
}

.container2-11 {
  width: 80%;
  margin-left: 10%;
  padding-top: 150px;
}

.container2-12 {
  padding-top: 100px;
  width: 100%;
}

.container2-13 {
  width: 80%;
  margin-left: 10%;
  padding-top: 150px;
}

.container2-14 {
  height: 80vh;
  position: relative;
  margin-top: 150px;
}

.container2-14 img {
  position: absolute;
  height: 80%;
  width: 100%;
  object-fit: cover;
  bottom: 0;
}

.text2-14 {
  width: 50%;
  margin-left: 20%;
  font-weight: bold;
  font-size: 28px;
}

.container2-15 {
  background: #151515;
  height: 100vh;
  display: flex;
  color: white;
}

.finally {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
}
